################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

bin/
obj/
packages/
*.DotSettings
*.DotSettings.user
*.exe
*.nupkg
*.suo
*.ps1
*.psm1
*.pubxml
*.user
*.vspscc
*.vssscc
*.sqlite
*.dg